@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="limiter">
        <div class="container-table100">
            <div class="table100 ver1 m-b-110">
                <table data-vertable="ver1">
                    <thead>
                        <tr class="row100 head">
                            <th class="column100 column1" data-column="column1"></th>
                            <th class="column100 column2" data-column="column2">Surname</th>
                            <th class="column100 column3" data-column="column3">City</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in @Model.Customers)
                        {
                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">@customer.Id</td>
                                <td class="column100 column2" data-column="column2">@customer.Surname</td>
                                <td class="column100 column3" data-column="column3">@customer.City</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
